// 优化显示
html, body {
  margin: 0px;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size:14px;
  #app {
    @extend %full;
    a {
      text-decoration: none;
    }
  }
}
p {
  display: block;
  margin-block-start: .5em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
ul,li{list-style:none; margin:0;padding: 0;}
.clearfix {*zoom:1;}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width:10px;
  height: 10px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 6px;
    background-color: #fff;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #eee;
  }

.mt10{margin-top:10px!important; }
.mr10{margin-right:10px!important;}
.mb10{margin-bottom:10px!important;}
.ml10{margin-left:10px!important;}
.pt10{padding-top:10px!important;}
.pr10{padding-right:10px!important;}
.pb10{padding-bottom:10px!important;}
.pl10{padding-left:10px!important;}